*{
    box-sizing: border-box;
}
header{
    position: relative;
    width: 100%;
}
.headerImage{
    width: 100%;
    margin-bottom: 98px;
}
.img{
    position: relative;
}
#box{
   
    margin-top: 178px;
    width: 640px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    border-radius: 8px;
    background:transparent;
    text-align: center;
    }

.inputs{
    width: 98%;
    height: 72px;
    margin-bottom: 70px;
}
.inputdata{
    float: left;
    color: #00000080;
    margin-bottom: 12px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    
}
.button{
    background-color: rgb(27, 27, 75);
    color: white;
    width: 640px;
    height: 58px;
    border: none;
    border-radius: 10px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 24px;
    margin-bottom: 30px;
   
}
.bottom{
    align-items: space-between;
    margin-bottom: 124px;
}
.bottom button{
    background-color: transparent;
    text-align: end;
    
    border-color: transparent;
    color: blue;
}

@media screen and (max-width: 768px){
    body{
        width: 100%;
        height: 100%;
    }
    .headerImage{
        width: 100%;
    }
   
    #box{
   
        margin-top: 108px;
        width: 90%;
       
        }

    .button{
        width: 100%;
    }
        
}
@media screen and (max-width: 600px){
    body{
        width: 100%;
        height: 100%;
    }
    .headerImage{
        width: 100%;
    }
   
    #box{
   
        margin-top: 108px;
        width: 80%;
       
        }
        .inputs{
            width: 100%;
            height: 50px;

        }

    .button{
        width: 100%;
    }

}
